<h1>Followers lists</h1>
<br>

<% @fs_user.each do |user| %>
<<<<<<< HEAD
<div class="col-md-6 col-md-offset-3">
   <%= gravatar_for(user) %></br>
   <%= link_to user.name, user %></br>
</div>
=======
   <ul style="list-style:none;">
   <li>
   <%= gravatar_for(user) %>
   <%= link_to user.name, user %>
   </li>
   </ul>
>>>>>>> following-followers
<% end %>